{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}
    <section class="home-slider uk-grid uk-grid-collapse uk-child-width-1-2@m" uk-height-match="target: &gt; ul">
        <ul class="slider-nav">
            {% for slide in sliders %}
                <li class="uk-flex uk-flex-middle">
                    <div class="text uk-flex uk-flex-middle" data-padding="350">
                        <div>
                            <h5>Добро пожаловать!</h5>
                            <h3>{{ slide.title }}</h3>
                            <p>{{ slide.description }}</p><a href="">Подробнее</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul class="slider-for uk-visible@m">
            {% for slide in sliders %}
                <li class="uk-cover-container">
                {% thumbnail slide.image "x600" as im %}
                    <img data-lazy="{{ im.url }}" alt="" uk-cover="">
                {% endthumbnail %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="treatment">
        <div class="uk-container">
            <h2 class="uk-text-center">Мы специализируемся на лечении заболеваний</h2>
            <div class="uk-grid uk-child-width-1-3@m uk-child-width-1-2@s"
                 uk-height-match="target: &gt; div &gt; .item &gt; p" uk-grid="">
                <div>
                    <div class="item" uk-parallax="bgy: -500"><img src="{% static 'img/png/tr1.png' %}" alt="">
                        <h3>Голова</h3>
                        <p>Это самый распространённый вид головной боли в мире — каждый из нас испытал её хотя бы раз в
                            жизни. Повторяются они не часто, хроническую форму приобретают в 3% случаев.</p><a
                                class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div>
                    <div class="item" uk-parallax="bgy: -500"><img src="{% static 'img/png/tr2.png' %}" alt="">
                        <h3>Спина</h3>
                        <p>Это самый распространённый вид головной боли в мире боли в мире боли в мире — каждый из нас
                            испытал её хотя бы раз в жизни. Повторяются они не часто, хроническую форму приобретают в 3%
                            случаев.</p><a class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div>
                    <div class="item" uk-parallax="bgy: -500"><img src="{% static 'img/png/tr3.png' %}" alt="">
                        <h3>Суставы</h3>
                        <p>Это самый распространённый вид головной боли в мире — каждый из нас испытал её хотя бы раз в
                            жизни. Повторяются они не часто, хроническую форму приобретают в 3% случаев.</p><a
                                class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large uk-child-width-1-2@m" uk-grid="">
                <div>
                    <div class="uk-text-center"><img src="{% static 'img/png/logo2.png' %}" alt="">
                        <div class="uk-margin-large">
                            <p>With our anniversary coming soon, we can proudly so state that we are the oldest
                                pharmaceutical companies in the US and the world.</p>
                            <iframe id="player" type="text/html" width="100%" height="315"
                                    src="http://www.youtube.com/embed/l-gQLqv9f4o?enablejsapi=1&amp;autoplay=0"
                                    frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-margin">
                        <div class="uk-grid uk-margin-remove-left uk-flex-middle" uk-grid="">
                            <div class="uk-width-auto@s">
                                <div class="uk-text-left@s uk-text-center"><img src="{% static 'img/png/a1.png' %}"
                                                                                alt=""></div>
                            </div>
                            <div class="uk-width-expand@s uk-text-left@s uk-text-center">
                                <div class="uk-card-body uk-padding-remove-left">
                                    <h3 class="uk-card-title">Системность</h3>
                                    <p>We have developed a robust and differentiated pipeline, leveraging
                                        state-of-the-art science to create medicines for serious illnesses.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item uk-margin">
                        <div class="uk-grid uk-margin-remove-left uk-flex-middle" uk-grid="">
                            <div class="uk-width-auto@s">
                                <div class="uk-text-left@s uk-text-center"><img src="{% static 'img/png/a2.png' %}"
                                                                                alt=""></div>
                            </div>
                            <div class="uk-width-expand@s uk-text-left@s uk-text-center">
                                <div class="uk-card-body uk-padding-remove-left">
                                    <h3 class="uk-card-title">Задачи</h3>
                                    <p>We have developed a robust and differentiated pipeline, leveraging
                                        state-of-the-art science to create medicines for serious illnesses.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item uk-margin">
                        <div class="uk-grid uk-margin-remove-left uk-flex-middle" uk-grid="">
                            <div class="uk-width-auto@s">
                                <div class="uk-text-left@s uk-text-center"><img src="{% static 'img/png/a3.png' %}"
                                                                                alt=""></div>
                            </div>
                            <div class="uk-width-expand@s uk-text-left@s uk-text-center">
                                <div class="uk-card-body uk-padding-remove-left">
                                    <h3 class="uk-card-title">Миссия</h3>
                                    <p>We have developed a robust and differentiated pipeline, leveraging
                                        state-of-the-art science to create medicines for serious illnesses.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-doctors">
        <div class="uk-container">
            <h2 class="uk-text-center">наши врачи </h2>
            <div class="our-doctors-slider">
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="img-wrapper">
                        <div class="badge">трамватолог</div>
                        <img data-lazy="{% static 'img/jpg/vra4.jpg' %}" alt="">
                    </div>
                    <div class="name">
                        <h4>Наталья Кункевич</h4>
                    </div>
                    <div class="about-doctor">
                        <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                            class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="img-wrapper">
                        <div class="badge">трамватолог</div>
                        <img data-lazy="{% static 'img/jpg/vra4.jpg' %}" alt="">
                    </div>
                    <div class="name">
                        <h4>Наталья Кункевич</h4>
                    </div>
                    <div class="about-doctor">
                        <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                            class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="img-wrapper">
                        <div class="badge">трамватолог</div>
                        <img data-lazy="{% static 'img/jpg/vra4.jpg' %}" alt="">
                    </div>
                    <div class="name">
                        <h4>Наталья Кункевич</h4>
                    </div>
                    <div class="about-doctor">
                        <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                            class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="img-wrapper">
                        <div class="badge">трамватолог</div>
                        <img data-lazy="{% static 'img/jpg/vra4.jpg' %}" alt="">
                    </div>
                    <div class="name">
                        <h4>Наталья Кункевич</h4>
                    </div>
                    <div class="about-doctor">
                        <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                            class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="img-wrapper">
                        <div class="badge">трамватолог</div>
                        <img data-lazy="{% static 'img/jpg/vra4.jpg' %}" alt="">
                    </div>
                    <div class="name">
                        <h4>Наталья Кункевич</h4>
                    </div>
                    <div class="about-doctor">
                        <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                            class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="img-wrapper">
                        <div class="badge">трамватолог</div>
                        <img data-lazy="{% static 'img/jpg/vra4.jpg' %}" alt="">
                    </div>
                    <div class="name">
                        <h4>Наталья Кункевич</h4>
                    </div>
                    <div class="about-doctor">
                        <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                            class="uk-button uk-button-default" href="">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-back-block" uk-parallax="bgy: -500">
        <div class="uk-container uk-container-small">
            <div class="uk-grid uk-flex-middle" uk-grid="">
                <div class="uk-width-expand@m uk-text-center">
                    <h5 class="uk-flex-inline uk-margin-remove">У вас боли в спине или что то другое?</h5><a
                        class="uk-button uk-button-default uk-margin-medium-left" href="">Записаться на прием</a>
                </div>
            </div>
        </div>
    </section>
    <section class="advantages-clinic">
        <div class="uk-container" uk-height-match="target: &gt; div &gt; div &gt; .item &gt; .about &gt; p">
            <h2 class="uk-text-center">преимущества клиники</h2>
            <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid=""
                 uk-height-match="target: &gt; div &gt; .item &gt; .about &gt; h4">
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy"
                                                                 data-src="{% static 'img/jpg/advantages.jpg' %}" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="icon uk-flex-inline uk-flex-middle uk-flex-center">
                                <div><img src="{% static 'img/png/ad1.png' %}" alt=""></div>
                            </div>
                        </div>
                        <div class="about">
                            <h4>неврология</h4>
                            <p>Национальнымф институтом здоровья и медицинских исследований.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy"
                                                                 data-src="{% static 'img/jpg/advantages.jpg' %}" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="icon uk-flex-inline uk-flex-middle uk-flex-center">
                                <div><img src="{% static 'img/png/ad1.png' %}" alt=""></div>
                            </div>
                        </div>
                        <div class="about">
                            <h4>неврология</h4>
                            <p>Национальнымф институтом здоровья и медицинских исследований.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy"
                                                                 data-src="{% static 'img/jpg/advantages.jpg' %}" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="icon uk-flex-inline uk-flex-middle uk-flex-center">
                                <div><img src="{% static 'img/png/ad1.png' %}" alt=""></div>
                            </div>
                        </div>
                        <div class="about">
                            <h4>неврология</h4>
                            <p>Национальнымф институтом здоровья и медицинских исследований.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="icon uk-flex-inline uk-flex-middle uk-flex-center">
                                <div><img src="img/png/ad1.png" alt=""></div>
                            </div>
                        </div>
                        <div class="about">
                            <h4>неврология</h4>
                            <p>Национальнымф институтом здоровья и медицинских исследований.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="icon uk-flex-inline uk-flex-middle uk-flex-center">
                                <div><img src="img/png/ad1.png" alt=""></div>
                            </div>
                        </div>
                        <div class="about">
                            <h4>неврология</h4>
                            <p>Национальнымф институтом здоровья и медицинских исследований.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="icon uk-flex-inline uk-flex-middle uk-flex-center">
                                <div><img src="img/png/ad1.png" alt=""></div>
                            </div>
                        </div>
                        <div class="about">
                            <h4>неврология</h4>
                            <p>Национальнымф институтом здоровья и медицинских исследований.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="diagnostic" uk-parallax="bgy: -500">
        <div class="uk-container">
            <h2 class="uk-text-center">диагностика</h2>
            <div class="diagnostic-slider">
                <div class="item">
                    <div class="badge">лфк</div>
                    <div class="uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="img-wrapper uk-cover-container"><img data-lazy="img/jpg/dia0.jpg" alt=""
                                                                         uk-cover="">
                            <canvas width="500" height="300"></canvas>
                        </div>
                        <div class="bg-white">
                            <div class="icon"><img src="img/png/dia1.png" alt=""></div>
                            <div class="about-doctor">
                                <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                                    class="uk-button uk-button-default" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="badge">лфк</div>
                    <div class="uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="img-wrapper uk-cover-container"><img data-lazy="img/jpg/dia0.jpg" alt=""
                                                                         uk-cover="">
                            <canvas width="500" height="300"></canvas>
                        </div>
                        <div class="bg-white">
                            <div class="icon"><img src="img/png/dia1.png" alt=""></div>
                            <div class="about-doctor">
                                <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                                    class="uk-button uk-button-default" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="badge">лфк</div>
                    <div class="uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="img-wrapper uk-cover-container"><img data-lazy="img/jpg/dia0.jpg" alt=""
                                                                         uk-cover="">
                            <canvas width="500" height="300"></canvas>
                        </div>
                        <div class="bg-white">
                            <div class="icon"><img src="img/png/dia1.png" alt=""></div>
                            <div class="about-doctor">
                                <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                                    class="uk-button uk-button-default" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="badge">лфк</div>
                    <div class="uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="img-wrapper uk-cover-container"><img data-lazy="img/jpg/dia0.jpg" alt=""
                                                                         uk-cover="">
                            <canvas width="500" height="300"></canvas>
                        </div>
                        <div class="bg-white">
                            <div class="icon"><img src="img/png/dia1.png" alt=""></div>
                            <div class="about-doctor">
                                <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                                    class="uk-button uk-button-default" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="badge">лфк</div>
                    <div class="uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="img-wrapper uk-cover-container"><img data-lazy="img/jpg/dia0.jpg" alt=""
                                                                         uk-cover="">
                            <canvas width="500" height="300"></canvas>
                        </div>
                        <div class="bg-white">
                            <div class="icon"><img src="img/png/dia1.png" alt=""></div>
                            <div class="about-doctor">
                                <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                                    class="uk-button uk-button-default" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="badge">лфк</div>
                    <div class="uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="img-wrapper uk-cover-container"><img data-lazy="img/jpg/dia0.jpg" alt=""
                                                                         uk-cover="">
                            <canvas width="500" height="300"></canvas>
                        </div>
                        <div class="bg-white">
                            <div class="icon"><img src="img/png/dia1.png" alt=""></div>
                            <div class="about-doctor">
                                <p>Доктор занимается лечением состоятельных клиентов, таких как Обломов.</p><a
                                    class="uk-button uk-button-default" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rehabilitation">
        <div class="uk-container">
            <h2 class="uk-text-center">лечение и реабилитация</h2>
            <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid=""
                 uk-height-match="target: &gt; div &gt; .item &gt; .middle">
                <div>
                    <div class="item">
                        <div class="uk-padding-small">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/reh.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle middle"><img src="img/png/reh1.png" alt="">
                            <div class="uk-margin-small-left">
                                <h3>лфк</h3>
                            </div>
                        </div>
                        <div class="uk-padding-small about">
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-padding-small">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/reh.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle middle"><img src="img/png/reh1.png" alt="">
                            <div class="uk-margin-small-left">
                                <h3>лфк</h3>
                            </div>
                        </div>
                        <div class="uk-padding-small about">
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-padding-small">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/reh.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle middle"><img src="img/png/reh1.png" alt="">
                            <div class="uk-margin-small-left">
                                <h3>лфк</h3>
                            </div>
                        </div>
                        <div class="uk-padding-small about">
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-padding-small">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/reh.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle middle"><img src="img/png/reh1.png" alt="">
                            <div class="uk-margin-small-left">
                                <h3>лфк</h3>
                            </div>
                        </div>
                        <div class="uk-padding-small about">
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-padding-small">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/reh.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle middle"><img src="img/png/reh1.png" alt="">
                            <div class="uk-margin-small-left">
                                <h3>лфк</h3>
                            </div>
                        </div>
                        <div class="uk-padding-small about">
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item">
                        <div class="uk-padding-small">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/reh.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle middle"><img src="img/png/reh1.png" alt="">
                            <div class="uk-margin-small-left">
                                <h3>лфк</h3>
                            </div>
                        </div>
                        <div class="uk-padding-small about">
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-text-center uk-margin-top see-more"><a class="uk-button uk-button-default"
                                                                  href="">Подробнее</a></div>
        </div>
    </section>
    <section class="garant" uk-parallax="bgy: -500">
        <div class="uk-container">
            <h2 class="uk-text-center">наши гарантии</h2>
            <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid="">
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="about uk-overlay uk-overlay-primary uk-position-bottom">
                                <h4>наилучший сервис</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="about uk-overlay uk-overlay-primary uk-position-bottom">
                                <h4>наилучший сервис</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="about uk-overlay uk-overlay-primary uk-position-bottom">
                                <h4>наилучший сервис</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="about uk-overlay uk-overlay-primary uk-position-bottom">
                                <h4>наилучший сервис</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="about uk-overlay uk-overlay-primary uk-position-bottom">
                                <h4>наилучший сервис</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                        <div class="uk-position-relative">
                            <div class="uk-cover-container"><img class="lazy" data-src="img/jpg/advantages.jpg" alt=""
                                                                 uk-cover="">
                                <canvas width="600" height="420"></canvas>
                            </div>
                            <div class="about uk-overlay uk-overlay-primary uk-position-bottom">
                                <h4>наилучший сервис</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-and-blog">
        <div class="uk-container">
            <h2 class="uk-text-center">новости и блог</h2>
            <div class="news-and-blog-slider">
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="border">
                        <div class="img-wrapper">
                            <div class="uk-cover-container">
                                <div class="badge">14 марта 2018г</div>
                                <img data-lazy="img/jpg/news.jpg" alt="" uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="about-doctor">
                            <h4>Яйцеклетки и старение</h4>
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="border">
                        <div class="img-wrapper">
                            <div class="uk-cover-container">
                                <div class="badge">14 марта 2018г</div>
                                <img data-lazy="img/jpg/news.jpg" alt="" uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="about-doctor">
                            <h4>Яйцеклетки и старение</h4>
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="border">
                        <div class="img-wrapper">
                            <div class="uk-cover-container">
                                <div class="badge">14 марта 2018г</div>
                                <img data-lazy="img/jpg/news.jpg" alt="" uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="about-doctor">
                            <h4>Яйцеклетки и старение</h4>
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="border">
                        <div class="img-wrapper">
                            <div class="uk-cover-container">
                                <div class="badge">14 марта 2018г</div>
                                <img data-lazy="img/jpg/news.jpg" alt="" uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="about-doctor">
                            <h4>Яйцеклетки и старение</h4>
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="border">
                        <div class="img-wrapper">
                            <div class="uk-cover-container">
                                <div class="badge">14 марта 2018г</div>
                                <img data-lazy="img/jpg/news.jpg" alt="" uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="about-doctor">
                            <h4>Яйцеклетки и старение</h4>
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="item uk-box-shadow-small uk-box-shadow-hover-large">
                    <div class="border">
                        <div class="img-wrapper">
                            <div class="uk-cover-container">
                                <div class="badge">14 марта 2018г</div>
                                <img data-lazy="img/jpg/news.jpg" alt="" uk-cover="">
                                <canvas width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="about-doctor">
                            <h4>Яйцеклетки и старение</h4>
                            <p>Лечебная физкультура — совокупность методов лечения, профилактических и медицинских
                                реабилитационных способов.</p><a class="uk-button uk-button-default"
                                                                 href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-back-block" uk-parallax="bgy: -500">
        <div class="uk-container uk-container-small">
            <div class="uk-grid uk-flex-middle" uk-grid="">
                <div class="uk-width-expand@m uk-text-center">
                    <h5 class="uk-flex-inline uk-margin-remove">Звоните нам напрямую +996 (700) 490 990</h5><a
                        class="uk-button uk-button-default uk-margin-medium-left" href="">Записаться на прием</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}