<footer>
    <div class="uk-container">
        <div class="uk-grid uk-grid-small uk-child-width-expand@l uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center uk-text-left@s"
             uk-grid="">
            <div>
                <div class="item">
                    <ul>
                        <li><b><a>Врачи</a></b></li>
                        <li><b><a>Лечение</a></b></li>
                        <li><b><a>Цены</a></b></li>
                        <li><b><a>Контакты</a></b></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="item">
                    <h5>Услуги</h5>
                    <ul>
                        <li><a>Гинекология</a></li>
                        <li><a>Офтальмология</a></li>
                        <li><a>Неврология</a></li>
                        <li><a>Прием терапевта</a></li>
                        <li><a>Кардиология</a></li>
                        <li><a>Эндокринология</a></li>
                        <li><a>Урология</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="item">
                    <h5>О клинике</h5>
                    <ul>
                        <li><a>Миссия</a></li>
                        <li><a>История</a></li>
                        <li><a>Отчеты</a></li>
                        <li><a>Корпоративная <br> социальная <br> ответственность</a></li>
                        <li><a>Документы</a></li>
                        <li><a>Вакансии</a></li>
                        <li><a>Наши преимущества</a></li>
                        <li><a>Лицензии</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="item">
                    <h5>Диагностика</h5>
                    <ul>
                        <li><a>МРТ</a></li>
                        <li><a>Ренген</a></li>
                        <li><a>Кардиограна</a></li>
                        <li><a>УМКР</a></li>
                        <li><a>КТ</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="item">
                    <h6>Круглосуточная служба поддержки:</h6><a class="phone" href="tel: 996 (700) 320 333">996
                    (700) 320 333</a>
                    <h6>Присоединяйтесь к нам:</h6>
                    <div class="social uk-padding-small"><a class="uk-icon-button uk-margin-small-right" href=""><i
                            class="fa fa-facebook"></i></a><a class="uk-icon-button uk-margin-small-right"
                                                              href=""><i class="fa fa-instagram"></i></a><a
                            class="uk-icon-button uk-margin-small-right" href=""><i class="fa fa-youtube-play"></i></a>
                    </div>
                    <h6>Работаем по всему Кыргызстану</h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <div class="uk-container">
        <p>© 1996-2018 Prime Clinic</p>
    </div>
</section>