{% load staticfiles %}

<section class="top-line">
    <div class="uk-container">
        <div class="uk-flex uk-flex-between@m">
            <div>
                <div class="phone uk-flex-inline">
                    <div uk-switcher=""><a class="operator"><img src="{% static 'img/png/megacom.png' %}"></a><a
                            class="operator"><img src="{% static 'img/png/o!.png' %}" alt=""></a><a
                            class="operator"><img
                            src="{% static 'img/png/beeline.png' %}" alt=""></a></div>
                    <b class="uk-switcher"><a href="tel:+996 (312) 888 999">+996 (312) 888 999</a><a
                            href="tel:+996 (312) 888 999">+996 (312) 888 991</a><a href="tel:+996 (312) 888 999">+996
                        (312) 888 992</a></b>
                </div>
                <div class="social uk-flex-inline"><a href=""><i class="fa fa-facebook"></i></a><a href=""><i
                        class="fa fa-instagram"></i></a><a href=""><i class="fa fa-youtube-play"></i></a></div>
            </div>
            <div>
                <div class="uk-flex-inline faq"><a href="">FAQ</a></div>
                <div class="uk-flex-inline language">
                    <button class="uk-button uk-button-default" type="button">Русский<span
                            class="uk-margin-small-left" uk-icon="icon: chevron-down"></span></button>
                    <div uk-drop="pos: bottom-justify; offset: 7; delay-hide: 50">
                        <div class="uk-card uk-card-body uk-card-default">
                            <div><a href="">English</a></div>
                            <div><a href="">Кыргызча</a></div>
                        </div>
                    </div>
                </div>
                <div class="uk-flex-inline user-block"><a class="user uk-flex-inline uk-flex-middle" href=""><img
                        class="uk-margin-small-right" src="{% static 'img/png/user.png' %}"
                        alt=""><span>Личный кабинет</span></a>
                </div>
            </div>
        </div>
    </div>
</section>